[submodule "editor/config/global"]
	path = editor/config/global
	url = https://github.com/kushimoto/my-nvim-global-config
[submodule "editor/container"]
	path = editor/container
	url = https://github.com/kushimoto/my-nvim-container.git
